#csp-agm-wrapper {
    height: 100vh;
}
agm-map {
    height: 100%;
}
#result-box {
    display: block !important;
    max-height: 200px;
    overflow-y: scroll;
}
#result-box .row {
    display: block;
    border-bottom: 1px solid #EEE;
    padding: 5px 0px;
    cursor: pointer;
}
#result-box .row * {
    display: block;
}
#admin-controls a {text-decoration: none;}
#scountry {max-width: 185px;}