<ngx-loading id="csp-loading" [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>
<div id="csp-agm-wrapper">
  <agm-map #cspPartnerMap [latitude]="lat" [longitude]="lng" (mapClick)="cspMapClick($event)" [zoom]="7" (idle)="lazyLoadPartnerToMap()" (boundsChange)="boundsChanged($event)" (centerChange)="centerChanged($event)">
    <agm-marker *ngFor="let m of trafficList" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="iconAPI + 'api/test/test/partnerlocator/getmapicon?trafficpoint=' + m.traffic + '&isConversion=true'">
    </agm-marker>
    <agm-marker *ngFor="let p of partnerList; let i = index" [latitude]="p.latitude" [longitude]="p.longitude" [markerDraggable]="false" [iconUrl]="'assets/images/iconpartner.png'">
      <agm-info-window>
        <strong>{{p.companyName}}</strong>
        <div *ngIf="p.deeplink_Landingpage_Url != ''"><a href="{{getValidUrl(p.deeplink_Landingpage_Url)}}" target="_blank">{{p.deeplink_Landingpage_Url}}</a></div>
        <div>Reach: {{p.reach}}</div>
        <div>Clicks: {{p.clicks}}</div>
        <div>Leads: {{p.leads}}</div>
        <div>Opportunities: {{p.opportunities}}</div>
        <div>Deals: {{p.deals}}</div>
        <!--
        <div>{{p.address1}}</div>
        <div>{{p.city}}<span *ngIf="p.zipCode != ''"> - {{p.zipCode}}</span><span *ngIf="p.state != ''"> - {{p.state}}</span></div>
        <div>{{p.country}}</div>
        <div *ngIf="p.emailAddress != ''"><a href="mailto:{{p.emailAddress}}">{{p.emailAddress}}</a></div>
        -->
        <div class="row-coin"><img src="assets/images/coin.png"/>&nbsp;:&nbsp;{{p.csP_Flow_Coins == null || p.csP_Flow_Coins == '' ? 0 : p.csP_Flow_Coins}}</div>
      </agm-info-window>
    </agm-marker>
    <agm-marker #mkNavigatePartner *ngIf="navigateMarkerPartner != undefined" animation="BOUNCE" [zIndex]="9999999" [latitude]="navigateMarkerPartner.latitude" [longitude]="navigateMarkerPartner.longitude" [visible]="showSearch">
      <agm-info-window>
          <strong>{{navigateMarkerPartner.companyName}}</strong>
          <div *ngIf="navigateMarkerPartner.deeplink_Landingpage_Url != ''"><a href="{{getValidUrl(navigateMarkerPartner.deeplink_Landingpage_Url)}}" target="_blank">{{navigateMarkerPartner.deeplink_Landingpage_Url}}</a></div>
          <div>{{navigateMarkerPartner.address1}}</div>
          <div>{{navigateMarkerPartner.city}}<span *ngIf="navigateMarkerPartner.zipCode != ''"> - {{navigateMarkerPartner.zipCode}}</span><span *ngIf="navigateMarkerPartner.state != ''"> - {{navigateMarkerPartner.state}}</span></div>
          <div>{{navigateMarkerPartner.country}}</div>
          <div *ngIf="navigateMarkerPartner.emailAddress != ''"><a href="mailto:{{navigateMarkerPartner.emailAddress}}">{{navigateMarkerPartner.emailAddress}}</a></div>
          <div class="row-coin"><img src="assets/images/coin.png"/>&nbsp;:&nbsp;{{navigateMarkerPartner.csP_Flow_Coins == null || navigateMarkerPartner.csP_Flow_Coins == '' ? 0 : navigateMarkerPartner.csP_Flow_Coins}}</div>
        </agm-info-window>
    </agm-marker>
    <!-- <agm-marker #mkNavigatePartner [latitude]="lat" [longitude]="lng" [visible]="true" [iconUrl]="'assets/images/pointer.png'">
        
    </agm-marker> -->
  </agm-map>
</div>

<div class="content-box">
  <!-- <div id="searchbox" class="box">
    <button class="btn btnInfo tooltip"  (click)="toogleInforBox()">
      <span class="tooltiptext">Infomation</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.5 16A6.61 6.61 0 0 1 3 9.5 6.61 6.61 0 0 1 9.5 3 6.61 6.61 0 0 1 16 9.5 6.63 6.63 0 0 1 9.5 16zm0-14A7.5 7.5 0 1 0 17 9.5 7.5 7.5 0 0 0 9.5 2zm.5 6v4.08h1V13H8.07v-.92H9V9H8V8zM9 6h1v1H9z" />
      </svg>
    </button>
    <input type="text" name="search-key" [(ngModel)]="searchKey" aria-label="Search" placeholder="Search here" id="searchboxinput" (keyup)="onSearch($event)">
    <button class="btn btnSearch tooltip" aria-label="Search" value="Search">
      <span class="tooltiptext">Search</span>
      <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
      </svg>
    </button>
  </div> -->
  <form #cspPLForm="ngForm" (ngSubmit)="CspGoSearch('')">
  <div id="searchbox" class="box grid-container">
    
      <label class="grid-item">Location</label>
      <select class="grid-item" [(ngModel)]="sCountry" [ngModelOptions]="{standalone: true}" name="scountry" id="scountry">
          <option *ngIf="listCountry == undefined || listCountry.length == 0" value="United States">United States</option>
          <option *ngFor="let c of listCountry" value="{{c.name}}">{{c.name}}</option>
      </select>
      
      <label class="grid-item">State</label>
      <input class="grid-item" type="text" [(ngModel)]="sState" [ngModelOptions]="{standalone: true}" name="state" id="state" />
      <label class="grid-item">City/Zip or Name</label>
      <!--<input class="grid-item" type="text" name="search-key" [(ngModel)]="searchKey" aria-label="Search" placeholder="Search here" id="searchboxinput" (keyup)="onSearch($event)">-->
      <input class="grid-item" [(ngModel)]="sCityZip" type="text" name="city-zip" id="city-zip" />
      <label class="grid-item">Radius</label>
      <div class="grid-item">
          <select [(ngModel)]="sRadius" [ngModelOptions]="{standalone: true}" name="radius">
              <option value="0">Any</option>
              <option *ngFor="let rad of searchRadius" [value]="rad">{{rad}}</option>
          </select>
          <select [(ngModel)]="sLenType" [ngModelOptions]="{standalone: true}" name="lentype">
              <option value="miles">Miles</option>
              <option value="kilometers">Kilometers</option>
          </select>
      </div>
      <!-- <div class="grid-3-cols">
          <a class="infor" href="">
              <span>Show Partners Near Me</span>
              <svg class="i-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.5 16A6.61 6.61 0 0 1 3 9.5 6.61 6.61 0 0 1 9.5 3 6.61 6.61 0 0 1 16 9.5 6.63 6.63 0 0 1 9.5 16zm0-14A7.5 7.5 0 1 0 17 9.5 7.5 7.5 0 0 0 9.5 2zm.5 6v4.08h1V13H8.07v-.92H9V9H8V8zM9 6h1v1H9z" />
              </svg>
          </a>
      </div>
      <label class="grid-item">Partners</label>
      <div class="grid-3-cols">
          <label class="lbl-cbox">Small and Medium Businesses
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="lbl-cbox">Large Businesses
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <label class="lbl-cbox">OpenScape Cloud
              <svg class="i-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.5 16A6.61 6.61 0 0 1 3 9.5 6.61 6.61 0 0 1 9.5 3 6.61 6.61 0 0 1 16 9.5 6.63 6.63 0 0 1 9.5 16zm0-14A7.5 7.5 0 1 0 17 9.5 7.5 7.5 0 0 0 9.5 2zm.5 6v4.08h1V13H8.07v-.92H9V9H8V8zM9 6h1v1H9z" />
              </svg>
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
      </div> -->
      <button class="btn btnSearch" aria-label="Search" value="Search">Search</button>
      <span class="grid-item infor" (click)="toogleInforBox()">
        <span>Information</span>
        <svg class="i-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.5 16A6.61 6.61 0 0 1 3 9.5 6.61 6.61 0 0 1 9.5 3 6.61 6.61 0 0 1 16 9.5 6.63 6.63 0 0 1 9.5 16zm0-14A7.5 7.5 0 1 0 17 9.5 7.5 7.5 0 0 0 9.5 2zm.5 6v4.08h1V13H8.07v-.92H9V9H8V8zM9 6h1v1H9z" />
        </svg>
      </span>
      
  </div>
  </form>

  <div id="result-box" class="box" *ngIf="searchResult.length > 0">
    <div *ngFor="let r of searchResult" class="row" (click)="goToLocation(r)">
      <strong>{{r.companyname}}</strong>
      <small>{{r.address1}}</small>
    </div>
  </div>
  <div id="infobox" class="box">
    <div>
    <div class="line customer">
      <div id="info-partner-icon"><img src="assets/images/iconpartner.png" /></div>
      <span>Partner/ Customer</span>
    </div>
    <div *ngIf="isCspAdmin" id="admin-controls"><a  href="javascript: void(0)" class="btn btn-primary" (click)="doExportTraffic()">Export Traffic</a></div>
    <div class="line click-number">
      <img src="assets/images/pointer.png">
      Conversion</div>
    </div>
    <div class="haft-right">
      <div style="text-align: center;">
        <img src="assets/images/flow-funnel.jpg"/>
      </div>
      <!--
      <div class="line very-high">
        <div class="circle"></div>
        <span>Very high</span>
      </div>
      <div class="line high">
        <div class="circle"></div>
        <span>High</span>
      </div>
      <div class="line moderate">
        <div class="circle"></div>
        <span>Moderate</span>
      </div>
      <div class="line low">
        <div class="circle"></div>
        <span>Low</span>
      </div>
      <div class="line very-low">
        <div class="circle"></div>
        <span>Very low</span>
      </div>
      -->
    </div>
    
    
  </div>
</div>
