/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Tahoma', sans-serif;
  font-size: 13px;
}

.content-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 550px;
  margin: 15px;
  max-width: calc(100% - 30px);
}

.box {
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid transparent;
  /*padding: 12px 104px 11px 64px;*/
  padding: 12px;
  margin-bottom: 10px;
  transition-property: background, box-shadow;
  transition-duration: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  display: flex;
}

#searchbox {
  /*height: 48px;*/
  padding: 15px;
}

/*#searchboxinput {
  border: none;
  height: auto;
  width: 100%;
  z-index: 6;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

#searchboxinput::placeholder {
  color: #C4C4C4;
  opacity: 1;
}

#searchboxinput:-ms-input-placeholder {
  color: #C4C4C4;
}

#searchboxinput::-ms-input-placeholder {
  color: #C4C4C4;
}*/

.btn {
  border: none;
  background: none;
  cursor: pointer;
  width: 45px;
}

.btn:focus {
  outline: none;
}

.btnSearch svg {
  fill: #B2B2B2;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: 1003;
  left: 50%;
  top: 140%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 4px 8px;
  font-size: 11px;
  line-height: 19px;
  background: #494949;
  color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #494949 transparent;
}

.tooltip:hover .tooltiptext {
  display: block;
}

#infobox>div:first-child {
  width: 50%;
}

#infobox::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 24px;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.line {
  display: flex;
  align-items: center;
}

.circle {
  background: #f00;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px 10px;
}

.customer .circle {
  width: 25px;
  height: 25px;
  background: #00FF5A;
}

.very-high .circle {
  background: #FF0000;
}

.high .circle {
  background: #FF3300;
}

.moderate .circle {
  background: #FF6600;
}

.low .circle {
  background: #FFAA00;
}

.very-low .circle {
  background: #FFFF00;
}

.haft-right {
  float: right;
  margin-left: 15px;
  padding-left: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.haft-right:after {
  content: '';
  display: block;
  position: relative;
  top: -50px;
  left: -11px;
  width: 10px;
  height: 10px;
  margin-bottom: -10px;
  background: #FFFFFF;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.click-number {
  float: right;
  margin-top: 32px;
}

.click-number img {
  opacity: 0.5;
}

.backdrop {
  border-radius: 0 !important;
}

.grid-container {
  display: grid;
  /*grid-template-columns: 25% 25% 25% 25%;*/
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  max-width: 550px;
  /*margin: 10px;*/
}

.grid-item {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.grid-item select {
  width: calc(50% - 2px);
}

.grid-3-cols {
  grid-column-start: 2;
  grid-column-end: 5;
}

svg.i-icon {
  height: 25px;
  padding-left: 5px;
}

.grid-container input[type=text],
.grid-container select {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 8px;
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.lbl-cbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  height: 18px;
}

.lbl-cbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  /*top: 0;*/
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 2px solid #767676;
  box-sizing: border-box;
}

.lbl-cbox:hover input~.checkmark {
  /*background-color: #767676;*/
  border-color: #020202;
}

.lbl-cbox input:checked~.checkmark {
  /*background-color: #2196F3;*/
  background-color: #767676;
}

.lbl-cbox:hover input:checked~.checkmark {
  background-color: #020202;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.lbl-cbox input:checked~.checkmark:after {
  display: block;
}

.lbl-cbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  outline: none;
  border: none;
  background: #fff;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
}

.btn:active {
  background-color: #DCDCDC;
}

.infor {
  display: flex;
  align-items: center;
}
span.grid-item.infor {
  grid-column-start: 4;
  justify-content: flex-end;
  cursor: pointer;
}
.row-coin {position: relative; top: -2px}
.row-coin img {position: relative; top: 4px;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  #searchbox {display: block;}
  .btn {margin-top: 10px;}
  .grid-item {display: block; width: 100%;}
  #infobox{display: none;}
}